<div class="input-group">
	<div class="form-outline">
		<input type="search" id="form1" class="form-control" />
		<label class="form-label" for="form1">Search</label>
	</div>
	<button type="button" class="btn btn-primary">
		<i class="fas fa-search"></i>
	</button>
</div>

<div class="form-check form-switch">
	<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
	<label class="form-check-label" for="flexSwitchCheckChecked">Movies if not checked and actors if checked</label>
</div>

<h2>Results</h2>

<table class="table">
	<thead>
	<tr>
		<th scope="col">#</th>
		<th scope="col">First</th>
		<th scope="col">Last</th>
		<th scope="col">Handle</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>Mark</td>
		<td>Otto</td>
		<td>@mdo</td>
	</tr>
	<tr>
		<th scope="row">2</th>
		<td>Jacob</td>
		<td>Thornton</td>
		<td>@fat</td>
	</tr>
	<tr>
		<th scope="row">3</th>
		<td>Larry</td>
		<td>the Bird</td>
		<td>@twitter</td>
	</tr>
	</tbody>
</table>