
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" data-bind="visible: vm.navigationBarVisible">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/icon.png" alt="" width="30" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto" data-bind="foreach: menuItems">
        <li class="nav-item">
          <a class="nav-link" href="#" data-bind="click: $parent.changeContent">
            <span data-bind="text: title"></span>
          </a>
        </li>
			</ul>
			<div style="width: 100%;">
				<form class="d-flex" style="float: right;">
					<i data-bind="click: changeView('search')"  class="bi bi-search"></i>
					<i data-bind="click: changeView('profile')" class="bi bi-person-circle"></i>
					<i data-bind="click: changeView('login')" class="bi bi-box-arrow-left"></i>
				</form>
			</div>
		</div>
	</div>
</nav>

