<div class="container-lg p-0">
    <div class="row">
        <div class="col p-0">
            <h1>MovieDB</h1>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="movie-heroimg overflow-hidden"
             style="background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_face/wfClZdRb1x4LZ8B73Y9RSn8XAPa.jpg');">
        </div>
    </div>

    <div class="row movie-details">
        <div class="col order-lg-3">
            <div class="movie-poster d-lg-none">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dddx1VI6l1Ge8SQEJz7rI8OSmkv.jpg" alt="The Iron Giant">
            </div>

            <div class="row">
                <h1>ACTOR NAME HERE</h1>
            </div>

            <div class="row row-cols-auto">
                <div class="col">
                    <span class="subtitleDetail certification">PG</span>
                </div>
                <div class="col">
                    <span class="subtitleDetail imdbrating">8.0</span>
                </div>
                <div class="col">
                    <span class="subtitleDetail">86 min</span>
                </div>
                <div class="col">
                    <span class="subtitleDetail">1999</span>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h2>Summary</h2>
                </div>
                <div class="row pe-0">
                    <p class="lbg">
                        In the small town of Rockwell, Maine in October 1957, a giant metal machine befriends a
                        nine-year-old boy
                        and ultimately finds its humanity by unselfishly saving people from their own fears and prejudices.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h2>Trailer</h2>
                </div>
                <div class="row pe-0">
                    <iframe id="ytplayer" type="text/html" width="640" height="360"
                            src="https://www.youtube.com/embed/1mSUMy534Y8?fs=1&amp;iv_load_policy=3&amp;rel=0" frameborder="0"
                            allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                            msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                            webkitallowfullscreen="webkitallowfullscreen"></iframe>
                </div>
            </div>
        </div>

        <div class="col-lg-3 order-lg-9">
            <div class="movie-poster d-none d-lg-block">
                <img src="https://image.tmdb.org/t/p/w342/bMr9Ir2hCFu2R72pjCA43uRMT4r.jpg" alt="The Iron Giant">
            </div>

            <div class="row">
                <div class="row">
                    <h2>Primary Profession</h2>
                </div>
                <div class="row lbg">
                    <ul class="movie-genres">
                        <li>Actor</li>
                        <li>Soundtrack</li>
                        <li>Producer</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h2>Known for:</h2>
                </div>
                <div class="row lbg">
                    <ul class="movie-cast">
                        <li>
                            <div class="movie-cast-member">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="movie-cast-member-img" style="background-image: url('https://image.tmdb.org/t/p/w185/lrIygexYKs1bhcIjbHtyCejRaAe.jpg');"></div>
                                    </div>
                                    <div class="col movie-cast-member-name">
                                        <div class="row">
                                            <span class="name">Eli Marienthal</span>
                                        </div>
                                        <div class="row">
                                            <span class="character">Hogarth Hughes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="movie-cast-member">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="movie-cast-member-img" style="background-image: url('https://image.tmdb.org/t/p/w185/lrIygexYKs1bhcIjbHtyCejRaAe.jpg');"></div>
                                    </div>
                                    <div class="col movie-cast-member-name">
                                        <div class="row">
                                            <span class="name">Eli Marienthal</span>
                                        </div>
                                        <div class="row">
                                            <span class="character">Hogarth Hughes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="movie-cast-member">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="movie-cast-member-img" style="background-image: url('https://image.tmdb.org/t/p/w185/lrIygexYKs1bhcIjbHtyCejRaAe.jpg');"></div>
                                    </div>
                                    <div class="col movie-cast-member-name">
                                        <div class="row">
                                            <span class="name">Eli Marienthal</span>
                                        </div>
                                        <div class="row">
                                            <span class="character">Hogarth Hughes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="movie-cast-member">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="movie-cast-member-img" style="background-image: url('https://image.tmdb.org/t/p/w185/lrIygexYKs1bhcIjbHtyCejRaAe.jpg');"></div>
                                    </div>
                                    <div class="col movie-cast-member-name">
                                        <div class="row">
                                            <span class="name">Eli Marienthal</span>
                                        </div>
                                        <div class="row">
                                            <span class="character">Hogarth Hughes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
            </div>
        </div>

    </div>

</div>
