.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* Nav Bar Start */
.bi{
  color: blue;
  font-size: 30px;
  margin: 0px 0px 0px 16px;
  cursor: pointer;
  color: white;
}

.navbar{
  background-color: #3a3a3a !important;
}