.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

body {
  font-family: 'Varela Round', sans-serif;
}

h1, h2, h3 {
  font-weight: 900;
}

.movie-carousel {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 50px;
}

.movie-carousel .movie-carousel-rail {
  white-space: nowrap;
}

.movie-poster {
  display: inline-block;
  height: 375px;
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 7%);
  /* transition: all cubic-bezier(0,1,0,1) 500ms; */
  padding: 0;
  margin-right: 10px;
}

.movie-poster img {
  height: inherit;
  width: inherit;
}

.movie-details {
  padding: 0 20px;
}

.movie-details h1 {
  margin: 22px 0;
  font-size: 2em;
}

.movie-details h2 {
  margin: 50px 0 22px 0;
  font-size: 1.6em;
}

.movie-heroimg {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.subtitleDetail {
  font-weight: 700;
  line-height: 27px;
}

.certification {
  display: inline-block;
  padding: 0px 10px;
  height: 25px;
  color: #38393f70;
  background-color: #e3e4e6;
  border-radius: 5px;
  cursor: default;
}

.imdbrating:before {
  content: '';
  display: inline-block;
  background-image: url('/assets/imdb.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 8px;
  width: 52px;
  height: 25px;
  margin-top: -4px;
}

#ytplayer {
  max-width: 640px;
}

.lbg {
  background-color: #f4f5fb;
  padding: 8px 14px;
  border-radius: 8px;
}

.movie-genres {
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie-genres li {
  display: inline-block;
  padding: 4px 7px;
  color: #38393f70;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(21 57 130 / 5%);
  line-height: 20px;
}

.movie-details > div:first-child {
  margin-top: -175px;
}

.movie-cast {
  list-style: none;
  margin: 0;
  padding: 0;
}
.movie-cast-member {
  display: block;
  padding: 7px 14px;
  color: #38393f70;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgb(21 57 130 / 5%);
  /* transition: cubic-bezier(0, 1, 0, 1) 750ms; */
}

.movie-cast-member .movie-cast-member-img {
  /* display: inline-block; */
  height: 52px;
  width: 52px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  margin-right: 14px;
  vertical-align: middle;
  border: 2px solid #ecedf2;
}

.movie-cast-member .movie-cast-member-name {
  padding-top: 7px;
}

.movie-cast-member .movie-cast-member-name span {
  line-height: 18px;
}

.movie-cast-member .movie-cast-member-name .name {
  font-weight: 700;
  color: var(--bs-gray-900);
}

.movie-cast-member .movie-cast-member-name .character {
  color: #38393f70;
}

@media (max-width: 450px) {
  .movie-carousel .movie-poster {
    height: 222px;
    width: 150px;
    margin-right: 5px;
    border-radius: 8px;
  }
}

@media (min-width: 992px) {
  .movie-details {
    padding: 0 100px;
  }

  .movie-heroimg {
    border-radius: 8px;
  }

  .movie-details > div:first-child {
    margin-top: 0;
  }

  .movie-details > div:nth-child(2) {
    margin-top: -175px;
  }

  .movie-details > div:nth-child(2) h2 {
    font-size: 1.2em;
    margin-bottom: 12px;
  }
}
