<div class="container-lg p-0">
  <div class="row justify-content-md-center">
    <div class="col p-0">
      <h1>MovieDB</h1>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Popular</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail" data-bind="foreach: popularTitles()">
          <div class="movie-poster">
            <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Action</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail" data-bind="foreach: actionTitles().results">
          <div class="movie-poster">
            <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Sci-Fi</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail" data-bind="foreach: scifiTitles().results">
          <div class="movie-poster">
            <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
