<div class="container-lg p-0">
  <div class="row justify-content-md-center">
    <div class="col p-0">
      <h1>MovieDB</h1>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Popular</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail" data-bind="foreach: popularTitles()">
          <div class="movie-poster">
            <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Action</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail" data-bind="foreach: actionTitles()">
          <div class="movie-poster">
            <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Action</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail">
          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>

          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>

          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>

          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>

          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>

          <div class="movie-poster">
            <img src="https://img-cdn.b17g.net/edbdbd41-7306-491a-9025-26a5216371dc/crop2x3.jpg"
              alt="Mad Max: Fury Road">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <h2>Sci-Fi</h2>
      <div class="movie-carousel">
        <div class="movie-carousel-rail">
          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>

          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>

          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>

          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>

          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>

          <div class="movie-poster">
            <img src="https://picfiles.alphacoders.com/348/348707.jpg" alt="Dredd">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
