<div class="container-lg p-0" data-bind="with: title()">
  <div class="row">
    <div class="col p-0">
      <h1>MovieDB</h1>
    </div>
  </div>

  <div class="container-fluid p-0">
    <div class="movie-heroimg overflow-hidden" data-bind="style: { backgroundImage: 'url(\'' + omdbData.poster + '\')' }">
    </div>
  </div>

  <div class="row movie-details">
    <div class="col order-lg-3">
      <div class="movie-poster d-lg-none">
        <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
      </div>

      <div class="row">
        <h1 data-bind="text: primarytitle"></h1>
      </div>

      <div class="row row-cols-auto">
        <div class="col">
          <span class="subtitleDetail certification">PG</span>
        </div>
        <div class="col">
          <span class="subtitleDetail imdbrating" data-bind="text: imdbRating.averagerating"></span>
        </div>
        <div class="col">
          <span class="subtitleDetail"><span data-bind="text: runtimeminutes"></span> min</span>
        </div>
        <div class="col">
          <span class="subtitleDetail" data-bind="text: startyear"></span>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <h2>Summary</h2>
        </div>
        <div class="row pe-0">
          <p class="lbg" data-bind="text: omdbData.plot"></p>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <h2>Awards</h2>
        </div>
        <div class="row pe-0">
          <p class="lbg" data-bind="text: omdbData.awards"></p>
        </div>
      </div>

    </div>

    <div class="col-lg-3 order-lg-9">
      <div class="movie-poster d-none d-lg-block">
        <img data-bind="attr:{src: omdbData.poster, alt: primarytitle}">
      </div>

      <div class="row">
        <div class="row">
          <h2>Genres</h2>
        </div>
        <div class="row lbg">
          <ul class="movie-genres" data-bind="foreach: genreList">
            <li data-bind="text: name"></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <h2>Cast</h2>
        </div>
        <div class="row lbg">
          <ul class="movie-cast" data-bind="foreach: $parent.actors">
            <li>
              <div class="movie-cast-member">
                <div class="row">
                  <div class="col-3">
                    <div class="movie-cast-member-img" style="background-color: #e7e7e7;"></div>
                  </div>
                  <div class="col movie-cast-member-name">
                    <div class="row">
                      <span class="name" data-bind="text: primaryname"></span>
                    </div>
                    <!-- <div class="row">
                      <span class="character"></span>
                    </div> -->
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</div>
